<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889011737153-le8h0kkg8l9q6bsmutgmorepdjb43e9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889011737153-le8h0kkg8l9q6bsmutgmorepdjb43e9e</string>
	<key>API_KEY</key>
	<string>AIzaSyDhAzL9R6YusiXzx9AfZ14qeSaghN8GUIk</string>
	<key>GCM_SENDER_ID</key>
	<string>889011737153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vemateltd.vemate</string>
	<key>PROJECT_ID</key>
	<string>vemate-12b10</string>
	<key>STORAGE_BUCKET</key>
	<string>vemate-12b10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889011737153:ios:23353f7a4ab40f82952cc0</string>
	<key>DATABASE_URL</key>
	<string>https://vemate-12b10-default-rtdb.firebaseio.com</string>
</dict>
</plist>